form {
  border: 2px solid black;
  background-color: #6c757d;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom:20px;
}

button {
  margin-bottom:10px;
}
